* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
body {
  min-height: 100vh;
}

:root {
  --section-padding: 1em;
  --text-color: black;
}

header {
  background-image: url(../img/inflicted.png);
  min-height: 25vh;
}

header .about {
  width: 90%;
  margin: auto;
  max-width: 1500px;
  padding: 0.5rem 0 0 0;
}

h1 a {
  color: white !important;
  text-decoration: none;
}

header {
  padding: 6rem 0 0 0;
}

header .about p {
  color: white;
  margin: 40px 0 0 0;
}

header .follow a {
  text-decoration: none;
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  height: 2em;
  background-color: #1d9bf0;
  padding: 0.2rem;
  border-radius: 20px;
}

nav {
  margin: 1em 0 0 0;
  border-bottom: 1px solid var(--text-color);
}
nav ul {
  width: 90%;
  max-width: 1500px;
  margin: auto;
  padding-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 200px;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

section {
  width: 90%;
  max-width: 1500px;
  margin: auto;
}

.layout {
  padding: var(--section-padding);
  color: white;
  background-image: url(../img/inflicted.png);
}

.layout p a {
  color: white;
}

.guide {
  padding: var(--section-padding);
  background-color: #5e35b1;
}

.guide a {
  text-decoration: none;
  color: white;
}

.examples,
.patterns,
.tutorial,
.resources,
.layout-news,
.questions,
.css-grid,
.news,
.bugs {
  padding: var(--section-padding);
  background-image: url(../img/tiny_grid.png);
}

.examples a,
.patterns a,
.tutorial a,
.resources a,
.layout-news a,
.questions a,
.css-grid a,
.news a,
.bugs a {
  text-decoration: none;
  color: var(--text-color);
}

.layout,
.tutorial,
.examples,
.patterns,
.resources,
.layout-news,
.questions,
.css-grid,
.news,
.bugs {
  border: 1px solid var(--text-color);
}

.examples {
  position: relative;
}

.examples .flag {
  font-size: 18px;
  color: white;
  width: 60px;
  height: 35px;
  background-color: green;
  position: absolute;
  top: -15px;
  left: -25px;
  transform: rotate(-30deg);
}

footer div {
  width: 90%;
  max-width: 1500px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1rem;
  border-radius: 5px;
}

footer {
  margin-top: 40px;
  padding: var(--section-padding);
  background-image: url(../img/inflicted.png);
}

footer div ul {
  list-style-type: disc;
}

footer a {
  color: var(--text-color);
}
